<?xml version="1.0" encoding="UTF-8"?>
<!--
  技术支持.北京智邦国际软件技术有限公司
  http://go.microsoft.com/fwlink/?LinkId=169433
 -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.8" />
    <!--<compilation tempDirectory="d:\MyTempFiles"  debug="false" targetFramework="4.0"  />-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" maxQueryStringLength="40800" />
    <pages enableViewState="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
    <!--<httpCookies  sameSite="None"/>
     <sessionState cookieSameSite="None" /> 注意：当上传掉线等异常时可以尝试使用此两行语句处理  -->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.html" />
        <add value="default.ashx" />
        <add value="default.aspx" />
        <add value="default.asp" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="40800" />
        <fileExtensions>
          <remove fileExtension=".dll" />
          <remove fileExtension=".mdb" />
          <remove fileExtension=".xdb" />
          <remove fileExtension=".sql" />
          <add fileExtension=".dll" allowed="false" />
          <add fileExtension=".mdb" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".xdb" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".apk" />
      <remove fileExtension=".json" />
      <remove fileExtension=".wgt" />
      <remove fileExtension=".dwg" />
      <remove fileExtension=".flv" />
	  <remove fileExtension=".properties" />
	  <remove fileExtension=".emf" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />
      <mimeMap fileExtension=".wgt" mimeType="application/vnd.android" />
      <mimeMap fileExtension=".dwg" mimeType="application/x-autocad" />
      <mimeMap fileExtension=".flv" mimeType="flv-application/octet-stream" />
	  <mimeMap fileExtension=".properties" mimeType="application/json" />
	  <mimeMap fileExtension=".emf" mimeType="image/emf" />
    </staticContent>
    <handlers>
      <add name="api" path="webapi/api/*" verb="*" type="ZBServices.webapi.API_Start.API_Start" />
      <add name="apiHelper" path="webapi/apiHelper/*" verb="*" type="ZBServices.webapi.API_Start.API_Helper" />
      <add name="apitest" path="webapi/apiTest/*" verb="*" type="ZBServices.view.SYSN.view.demo.test_webapi" />
      <add name="cdata" path="iclock/cdata" verb="*" type="ZBServices.view.SYSN.json.attendance.AttendanceDevAPI" />
      <add name="callcenter" path="webapi/callcenter/xfyx" verb="*" type="ZBServices.view.SYSN.json.callcenter.XianFengYinXunHandler" />
      <add name="getrequest" path="iclock/getrequest" verb="*" type="ZBServices.view.SYSN.json.attendance.AttendanceDevRequestOrder" />
      <add name="replyrequest" path="/iclock/devicecmd" verb="*" type="ZBServices.view.SYSN.json.attendance.AttendanceDevReplyOrder" />
      <add name="disallowresoure1" path="sysa/edit/upimages/uedit2*" verb="*" type="ZBServices.sdk.view.CommPage.DisAllowResouresPage" />
      <add name="disallowresoure2" path="sysa/reply/upload/*" verb="*" type="ZBServices.ui.PowerAllowResouresPage" />
      <add name="mobilelogin" path="SYSA/mobilephone/login.asp" verb="*" type="ZBServices.view.SYSN.view.init.MobileLogin" />
      <add name="AspCss_cskt" path="SYSA/inc/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
      <add name="AspCss_comm1" path="SYS*/skin/default/css/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	  <add name="AspCss_comm2" path="SYS*/skin/default/css/*/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	  <add name="AspCss_comm3" path="SYSA/manufacture/inc/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	  <add name="AspCss_comm4" path="SYSN/view/editor/*/*/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	  <add name="AspCss_comm5" path="SYSN/view/editor/*/*/*/*.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	  <add name="AspCss_comm6" path="SYSA/inc/themes/default/easyui.css" verb="*" type="ZBServices.sdk.RouteMap.CommApsCssRoute" />
	   <add name="logoRoute" path="logo/pc/*/logo.png" verb="*" type="ZBServices.sdk.RouteMap.SystemPCLogoRoute" />
    </handlers>
        <asp enableParentPaths="true" />
  </system.webServer>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="OpenRedis" value="0" />
	  <!--启用了64位模式，则需要开启Redis，通过Redis保持移动端的会话-->
    <add key="RedisConfigInfo" value="127.0.0.1|6379|" />
    <add key="LocalDebugModel" value="0" />
    <add key="LocalDebugSaasCompany" value="0" />
    <add key="LocalDebugWebResourcesPath" value="E:\ZBServices\ZBServices.sdk\WebResources\" />
    <add key="LocalFullLogModel" value="0" />
    <add key="NoErrorModel" value="0" />
    <add key="ApplePushDvpModel" value="0" />
	<add key="ApplePushFromZb" value="0" />
    <add key="ApplePushHost" value="gateway.push.apple.com" />
    <add key="ApplePushDvpHost" value="gateway.sandbox.push.apple.com" />
    <add key="ApplePushPort" value="2195" />
    <add key="Version" value="32.05.01" />
    <add key="OutPutInvoiceInterfaceAddress" value="http://127.0.0.1:4001/EITax/api/Skfp/invoke" />
    <add key="WebSourceCompressModel" value="1" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QzServiceImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8080/eisp-qz/ws/qz" binding="basicHttpBinding" bindingConfiguration="QzServiceImplServiceSoapBinding" contract="ElectronicSignature.QzService" name="QzServiceImplPort" />
    </client>
  </system.serviceModel>
</configuration>