@charset "utf-8";
body{text-align:center;margin:0;padding:0;margin-bottom:10px;font-size:14px;line-height:20px;color:#000;font-family:"tahoma" Arial;-webkit-text-size-adjust:none;}
td{font-size:14px;line-height:34px; text-indent:6px;}
form,img,ul,li,p,dl,dd,input{margin:0;padding:0;border:0;}
div{text-align:left;}
h1,h2,h3,h4,h5,h6,label,pre{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul{list-style:none;}
input{line-height:18px;border-top:#7D7D7D solid 1px;border-left:#7D7D7D solid 1px;border-right:#BFBFBF solid 1px;border-bottom:#BFBFBF solid 1px;font-family:'tahoma';}

.clear{clear:both;}
.left{float:left;}
.right{float:right;}

.btn-42{width:42px;height:20px;font-size:12px;line-height:20px;color:#54647E;text-align:center;background:url(../images/bg_btn_42.gif) center no-repeat;border:0;cursor:pointer;}

.c_orange{color:#F57208;}
.c_green{color:#277706;}
.c_blue{color:#54647D;}
.c_red{color:#D10707;}

.f_song{font-family:"宋体";}

.ico_cake{margin-left:3px;margin-bottom:-3px;}

a{color:#000;text-decoration:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:@zbvar.leftbgcolor;text-decoration:none;}

a.btn_back{width:33px;height:20px;padding-left:18px;line-height:20px;color:#54647D;display:block;background:url(../images/bg_btn_back.gif) no-repeat;margin-left:4px;}
a.btn_back:hover{color:#415A89;background:url(../images/bg_btn_backs.gif) no-repeat;}

a.btn_daohang{width:66px;height:20px;padding-left:9px;line-height:20px;color:#54647D;display:block;background:url(../images/bg_btn_daohang.gif) no-repeat;margin-left:4px;}
a.btn_daohang:hover{color:#415A89;background:url(../images/bg_btn_daohangs.gif) no-repeat;}

#main-title{width:auto;height:28px;border-top:#889BBB solid 1px;border-right:#889BBB solid 1px;background:url(../images/bg_main_title.gif) bottom repeat-x;margin-right:5px;}
#main-title .links{padding-top:4px;float:left;}
#main-title .links dd{float:left;margin-left:4px;}
#main-title .links dd a.b01{width:71px;height:24px;background:url(../images/bg_main_tab-01.gif) center no-repeat;display:block;text-align:center;line-height:24px;color:#000;}
#main-title .links dd a.b01:hover{width:71px;height:24px;background:url(../images/bg_main_tab-01s.gif) center no-repeat;display:block;text-align:center;color:#000;}
#main-title .links dd a.hover{width:90px;height:24px;background:url(../images/bg_main_tab-02.gif) center no-repeat;display:block;text-align:center;color:#000;font-weight:bold;line-height:24px;}

#main-title .btn-link{padding-top:4px;float:right;margin-right:8px;}

#r-block{width:auto;border:#C6D2E8 solid 1px;margin-bottom:5px;}
#r-block .title{width:auto;height:26px;line-height:26px;background:url(../images/bg_block_title.gif) bottom repeat-x;overflow:hidden;zoom:1;}
#r-block .title h1{line-height:26px;background:url(../images/ico_main_01.gif) 6px 9px no-repeat;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block .title h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block .title h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block .title h1 span a:hover{text-decoration:none;}
#r-block .title .ico{float:right;padding-right:3px;padding-top:5px;}
#r-block .con{padding:2px;background:#FFF;}

#r-block2{width:auto;min-width:556px;border:#C6D2E8 solid 1px;float:left;margin-right:5px;margin-top:5px;}
#r-block2 .title{width:auto;height:26px;line-height:26px;background:url(../images/bg_block_title.gif) bottom repeat-x;overflow:hidden;zoom:1;}
#r-block2 .title h1{line-height:26px;background:url(../images/ico_main_01.gif) 6px 9px no-repeat;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block2 .title h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block2 .title h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block2 .title h1 span a:hover{text-decoration:none;}
#r-block2 .title .ico{float:right;padding-right:3px;padding-top:5px;}
#r-block2 .con{padding:2px;background:#FFF;height:150px;}
#r-block2 .con .nodate{height:80%;background:url(../images/ico_main_nodate.gif) center no-repeat;}

#r-block3{width:auto;min-width:556px;border:#C6D2E8 solid 1px;border-bottom:0;margin-right:5px;margin-bottom:5px;margin-top:5px;}
#r-block3 .title{width:auto;height:26px;line-height:26px;background:url(../images/bg_block_title.gif) bottom repeat-x;overflow:hidden;zoom:1;}
#r-block3 .title h1{line-height:26px;background:url(../images/ico_main_01.gif) 6px 9px no-repeat;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block3 .title h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block3 .title h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block3 .title h1 span a:hover{text-decoration:none;}
#r-block3 .title2{width:auto;height:26px;line-height:26px;background:#fff;overflow:hidden;zoom:1;border-bottom:#D0DCEC solid 1px;}
#r-block3 .title2 h1{line-height:26px;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block3 .title2 h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block3 .title2 h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block3 .title2 h1 span a:hover{text-decoration:none;}
#r-block3 .title .link{float:right;padding-right:10px;padding-top:4px;line-height:18px;}
#r-block3 .title .link .divdate{float:left;width:75px;height:18px;_height:16px;background:url(../images/bg_input_date.gif) center no-repeat;margin-right:4px;}
#r-block3 .title .link input.date{line-height:16px;_line-height:14px;padding:1px;width:73px;background:url(../images/ico_date.gif) 57px 3px no-repeat;border:0;}
#r-block3 .title .link a{line-height:18px;}
#r-block3 .title .link a.c01{display:block;line-height:18px;width:36px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_36.gif) center no-repeat;float:left;margin-right:4px;}
#r-block3 .title .link a.c01:hover{color:#0082E6;}
#r-block3 .title .ico{float:right;padding-right:3px;padding-top:5px;}
#r-block3 .con{background:#FFF;}
#r-block3 .con-padding-20{padding:20px;}

#r-block4{width:auto;min-width:556px;border:#C6D2E8 solid 1px;margin-right:5px;margin-bottom:5px;margin-top:5px;}
#r-block4 .title{width:auto;height:26px;line-height:26px;background:url(../images/bg_block_title.gif) bottom repeat-x;overflow:hidden;zoom:1;}
#r-block4 .title h1{line-height:26px;background:url(../images/ico_main_01.gif) 6px 9px no-repeat;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block4 .title h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block4 .title h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block4 .title h1 span a:hover{text-decoration:none;}
#r-block4 .title .ico{float:right;padding-right:3px;padding-top:5px;}
#r-block4 .title .link{float:left;padding-right:10px;padding-top:4px;line-height:18px;margin-left:25px;}
#r-block4 .title .link .divdate{float:left;width:75px;height:18px;_height:16px;background:url(../images/bg_input_date.gif) center no-repeat;margin-right:4px;}
#r-block4 .title .link input.date{line-height:16px;_line-height:14px;padding:1px;width:73px;background:url(../images/ico_date.gif) 57px 3px no-repeat;border:0;}
#r-block4 .title .link a{line-height:18px;}
#r-block4 .title .link a.c01{display:block;line-height:18px;width:36px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_36.gif) center no-repeat;float:left;margin-right:4px;}
#r-block4 .title .link a.c01:hover{color:#0082E6;}
#r-block4 .title .link span.c02{line-height:18px;width:64px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_64.gif) center no-repeat;float:left;margin-right:4px;}
#r-block4 .title .link span.c03{line-height:18px;width:75px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_75.gif) center no-repeat;float:left;margin-right:4px;}
#r-block4 .title .link span.c03 span.t{line-height:18px;width:58px;height:18px;color:#000;text-align:center;float:left;}
#r-block4 .title .link span.c03 span.b{width:17px;height:18px;float:left;}
#r-block4 .con{background:#FFF;padding:6px;padding-right:0;overflow:hidden;zoom:1;}
#r-block4 .con .in-block{width:175px;border:#D3DAEA solid 1px;float:left;margin-right:6px;margin-bottom:6px;}
#r-block4 .con .in-block h2{line-height:24px;font-weight:bold;text-align:center;padding-top:2px;position:relative;}
#r-block4 .con .in-block h2 .ico{right:3px;top:1px;position:absolute;}
#r-block4 .con .in-block .date{width:114px;height:18px;margin-top:2px;margin-bottom:3px;margin-left:31px;}
#r-block4 .con .in-block .date .c04{line-height:18px;width:114px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_114.gif) center no-repeat;}
#r-block4 .con .in-block .date .c04 span.t{line-height:18px;width:73px;height:18px;color:#000;text-align:center;float:left;}
#r-block4 .con .in-block .date .c04 span.b{width:41px;height:18px;float:left;}
#r-block4 .con .in-block .flash{width:175px;height:100px;text-align:center;background:url(../images/loding.gif) center no-repeat;border-bottom:#D3DAEA solid 1px;}
#r-block4 .con .in-block .num{text-align:center;background:#F4F7FC;border-top:#FFF solid 1px;border-bottom:#FFF solid 1px;line-height:21px;}
#r-block4 .con .btn-arrow{height:11px;clear:both;text-align:right;padding-bottom:4px;padding-right:6px;}
#r-block4 .con2{background:#FFF;padding:10px;overflow:hidden;zoom:1;}
#r-block4 .con2 dl.in-list dd{background:url(../images/ico_dot.gif) 6px 10px no-repeat;width:30%;margin-right:1%;text-indent:15px;float:left;padding:0;}
#r-block4 .con2 dl.in-list dd.c{background:#F8FAFD url(../images/ico_dot.gif) 6px 10px no-repeat;}
#r-block4 .con2 dl.in-list dd a{line-height:24px;}

.p_t{border-bottom:#D0DCEC solid 1px;border-right:#D0DCEC solid 1px;background:#F4F7FC;text-indent:0;}
.p_t2{border-bottom:#D0DCEC solid 1px;border-right:#96AACC solid 1px;background:#F4F7FC;text-indent:0;}
.p_t_r{border-bottom:#D0DCEC solid 1px;background:#F4F7FC;text-indent:0;}
.p_c{border-bottom:#D0DCEC solid 1px;border-right:#D0DCEC solid 1px;text-indent:0;}
.p_c2{border-bottom:#D0DCEC solid 1px;border-right:#96AACC solid 1px;text-indent:0;}
.p_c_r{border-bottom:#D0DCEC solid 1px;text-indent:0;}

#main-main-b-01{width:auto;overflow:hidden;zoom:1;}

#main-page{width:95%;}
#main-page .total{float:left;}
#main-page .btn-arrow{height:11px;text-align:right;padding-bottom:4px;padding-right:6px;padding-top:5px;padding-left:10px;float:right;}
#main-page .page{float:right;}
#main-page .page img{margin-top:2px;}
#main-page .page input{line-height:15px;width:20px;height:15px;margin-top:2px;text-align:center;}
#main-page .page span{margin-left:2px;margin-right:2px;}

dd.t_list_s{padding-left:12px;line-height:23px;background:url(../images/ico_dot.gif) 4px 10px no-repeat;}
dd.t_list_d{padding-left:12px;line-height:23px;background:#F8FAFD url(../images/ico_dot.gif) 4px 10px no-repeat;}
dd.t_list_s .ico{float:right;padding-right:3px;padding-top:3px;}
dd.t_list_d .ico{float:right;padding-right:3px;padding-top:3px;}
dd.t_list_s span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
dd.t_list_s span a{color:#FB7303;font-size:11px;}
dd.t_list_s span a:hover{text-decoration:underline;}
dd.t_list_d span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
dd.t_list_d span a{color:#FB7303;font-size:11px;}
dd.t_list_d span a:hover{text-decoration:underline;}

#r-block5{width:auto;min-width:556px;border:#C6D2E8 solid 1px;border-bottom:0;margin-right:5px;margin-bottom:5px;margin-top:5px;}
#r-block5 .title{width:auto;height:26px;line-height:26px;background:url(../images/bg_block_title.gif) bottom repeat-x;overflow:hidden;zoom:1;}
#r-block5 .title h1{line-height:26px;background:url(../images/ico_main_01.gif) 6px 9px no-repeat;color:#000;text-indent:15px;float:left;font-weight:bold;}
#r-block5 .title h1 span{color:#FB7303;font-weight:normal;font-size:11px;margin-left:2px;}
#r-block5 .title h1 span a{color:#FB7303;font-weight:bold;font-size:11px;text-decoration:underline;}
#r-block5 .title h1 span a:hover{text-decoration:none;}
#r-block5 .title .link{float:right;padding-right:10px;padding-top:4px;line-height:18px;}
#r-block5 .title .link .divdate{float:left;width:75px;height:18px;_height:16px;background:url(../images/bg_input_date.gif) center no-repeat;margin-right:4px;}
#r-block5 .title .link input.date{line-height:16px;_line-height:14px;padding:1px;width:73px;background:url(../images/ico_date.gif) 57px 3px no-repeat;border:0;}
#r-block5 .title .link a{line-height:18px;}
#r-block5 .title .link a.c01{display:block;line-height:18px;width:36px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_36.gif) center no-repeat;float:left;margin-right:4px;}
#r-block5 .title .link a.c01:hover{color:#0082E6;}
#r-block5 .title .ico{float:right;padding-right:3px;padding-top:5px;}
#r-block5 .con{background:#FFF;border-bottom:#C6D2E7 solid 1px;padding:1px;}
#r-block5 .con-padding-20{padding:20px;overflow:hidden;zoom:1;}

.m_sale_ico{overflow:hidden;zoom:1;}

.pro_tt{width:108px;float:left;padding-left:10px}
.pro_tt .name{margin-right:10px;width:108px;}
.pro_tt .name .t{width:108px;height:66px;line-height:66px;color:#FFF;font-weight:bold;font-size:14px;text-align:left;text-indent:15px;background:url(../images/img_n_00_back.gif) left no-repeat;}
.pro_tt .name .t2{margin-left:0;width:108px;height:78px;line-height:78px;color:#FFF;font-weight:bold;font-size:18px;text-align:left;text-indent:15px;background:url(../images/img_n_01_back.gif) left no-repeat;}
.pro_tt .name .a1{margin-left:0;width:66px;height:19px;background:url(../images/img_n_00_arrow_b.gif) center no-repeat;}
.pro_tt .name .a2{margin-left:0;width:66px;height:48px;background:url(../images/img_n_00_arrow_b.gif) center no-repeat;}
.pro_tt .name .a3{margin-left:0;width:66px;height:48px;background:url(../images/img_n_00_arrow_top_b.jpg) center no-repeat;}


.pro_ico{float:left;}
.pro_ico .m_list{float:left;width:60px;height:70px;padding:6px 6px;}
.pro_ico .m_list .ico{width:60px;height:48px;text-align:center;}
.pro_ico .m_list .text{width:60px;line-height:14px;text-align:center;}
.pro_ico .m_list .text_grey{width:60px;line-height:14px;text-align:center;color:#969696;}

.m_sale_ico .name{float:left;margin-right:10px;width:108px;}
.m_sale_ico .name .t{float:left;width:108px;height:66px;line-height:66px;color:#FFF;font-weight:bold;font-size:18px;text-align:left;text-indent:15px;background:url(../images/img_n_00_back.gif) left no-repeat;}
.m_sale_ico .name .t2{margin-left:0;width:108px;height:78px;line-height:78px;color:#FFF;font-weight:bold;font-size:18px;text-align:left;text-indent:15px;background:url(../images/img_n_01_back.gif) left no-repeat;}
.m_sale_ico .name .a1{margin-left:0;width:66px;height:21px;background:url(../images/img_n_00_arrow_b.gif) center no-repeat;}
.m_sale_ico .name .a2{margin-left:0;width:66px;height:36px;background:url(../images/img_n_00_arrow_b.gif) center no-repeat;}
.m_sale_ico .name .a3{margin-left:0;width:66px;height:36px;background:url(../images/img_n_00_arrow_top_b.jpg) center no-repeat;}

.m_sale_ico .m_list{float:left;width:60px;height:70px;padding:8px 10px;}
.m_sale_ico .m_list .ico{width:60px;height:48px;text-align:center;}
.m_sale_ico .m_list .text{width:60px;line-height:14px;text-align:center;}
.m_sale_ico .m_list .text_grey{width:60px;line-height:14px;text-align:center;color:#969696;}

.m_ps{padding:40px 0px 40px 30px;border-top:#C5D2E7 solid 0px;background:#FFF;overflow:hidden;zoom:1;color:#CCC}
.m_ps .img_pic{padding:0px;float:left;vertical-align:middle;color:#CCC}
.m_ps .text{padding:0px;float:left;border-left:#D5DCE5 solid 0px;color:#CCC}

#r-title-link{float:right;padding-right:10px;padding-top:4px;line-height:18px;}
#r-title-link .divdate{float:left;width:75px;height:18px;_height:16px;background:url(../images/bg_input_date.gif) center no-repeat;margin-right:4px;}
#r-title-link input.date{line-height:16px;_line-height:14px;padding:1px;width:73px;background:url(../images/ico_date.gif) 57px 3px no-repeat;border:0;}
#r-title-link a{line-height:18px;}
#r-title-link a.c01{display:block;line-height:18px;width:36px;height:18px;color:#000;text-align:center;background:url(../images/bg_btn_36.gif) center no-repeat;float:left;margin-right:4px;}
#r-title-link a.c01:hover{color:#0082E6;}

#d_width_557{width:557px;height:0;}


.pro_tt .name .t3{width:108px;height:66px;line-height:66px;color:#FFF;font-weight:bold;font-size:14px;text-align:left;text-indent:12px;background:url(../images/img_n_00_back.gif) left no-repeat;}
.pro_tt .name .t4{width:108px;height:66px;line-height:66px;color:#FFF;font-weight:bold;font-size:14px;text-align:left;background:url(../images/img_n_00_back.gif) left no-repeat;}

.t4 .wrapcsw{width:30px;font-size:14px;margin:0 auto;line-height:20px; text-align:center;color:#FFF;}
.t2 .wrapcsw{width:40px;font-size:14px;line-height:20px;margin:0 auto;text-align:center;text-indent:0px;color:#FFF;}