<?xml version="1.0"?>
<configuration>
<appSettings>
<add key="clientUserID" value="f631737c91f47faa4efb1fe3b8ce3fea" />
<add key="httpHost" value="http://127.0.0.1:808" />
</appSettings>
<connectionStrings>
<add name="connstring" connectionString="Server=(local);DataBase=zbintel_erp;User ID=SA;Pwd=zbintel" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
