<?xml version="1.0"?>
<configuration>
 <appSettings>
    <add key="clientUserID" value="a32f05c4b6d5306cc87b681a5a89a279"/>
    <add key="httpHost" value="http://192.168.1.125:82/"/>
  </appSettings>
  <connectionStrings>
  <add name="connstring" connectionString="Server=(local);DataBase=zbintel_erp_new;User ID=SA;Pwd=zbintel"/>
 </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
