<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sendcount" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="connstring" connectionString="75bcdefghijklmn104efghijklmn123ghijklmn104ghijklmn39cdefghijklmn90efghijklmn118bcdefghi124cdefghijklmn121ghijklmn106fghijklmn108efghijklmn68fghijklmn53efghijklmn66efghijklmn92bcdefghijklmn122bcdefghijk108efghijklmn121efghijklmn39bcdefghijklmn80efghijklmn75ghijklmn68abcdefghijklmn122fghijklmn104fghijklmn66abcdefghijklmn87defghijklmn104defghijklmn122cdefghijklmn122ghijklmn126ghijklmn118bcdefghijklmn121cdefghijklmn107defghijklmn68efghijklmn60defghijklmn61ghijklmn56efghijklmn64fghijklmn56defghijklmn60ghijklmn57efghijklmn66fghijklmn80defghijklmn117efghijklmn112ef123abcdefghijklmn112bcdefghijklmn104bcdefghijklmn115defghijklmn39fghijklmn74abcdefghijklmn104abcdefghijklmn123cdefghijklmn104ghijklmn115ghijklmn118bcdefghijklmn110ghijklmn68ghijk97abcdefghijklmn73ghijklmn112fghijklmn117efghijklmn123bcdefghijklmn108defghijklmn115ghijklmn102bcdefghijklmn90fghijklmn96fghijklmn66bcd"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
