/*begin window dlg*/
.sysdlg {display:none;position:absolute;}
.sys_dlgframe{position:absolute;top:3px;left:0px;width:100%;height:96%;z-index:0}
.sys_dlgframe2{position:absolute;top:0px;left:3px;width:96%;height:100%;z-index:1}
.sys_dtab1{position:relative;border-collapse:collapse;table-layout:fixed;width:100%;height:8px;z-index:100;background:#f5f5f5;} 
.sys_dtl,.sys_dtr {width:8px;}
.sys_dtab2{position:relative;border-collapse:collapse;table-layout:fixed;width:100%;height:29px;z-index:100;
background:#f5f5f5;
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;}
.sys_dtooll,.sys_dtoolr {width:11px;}
.sys_dcl {width:0px;}
.sys_dcc {}
.sys_dcr {width:0px;}
.sys_dtab3{position:relative;border-collapse:collapse;table-layout:fixed;width:100%;height:5px;z-index:100;background:#f5f5f5;}
.sys_dbl1,.sys_dbr1,sys_dbl2,.sys_dbr2 {width:12px;}
 
.sys_dbgtab6 {border-collapse:collapse;table-layout:fixed;width:100%;}  /*ie 6*/
.sys_dbgtab6 .sys_dbtl,.sys_dbgtab6 .sys_dbtr,.sys_dbgtab8 .sys_dbtl,.sys_dbgtab8 .sys_dbtr {height:20px;width:20px;}
.sys_dbgtab6 .sys_dbtc,.sys_dbgtab6 .sys_dbbl,.sys_dbgtab6 .sys_dbbc,.sys_dbgtab6 .sys_dbbr {height:20px;}

.sys_dbgtab8 {border-collapse:collapse;table-layout:fixed;width:100%;}  /*ie 8*/
/*.sys_dbgtab8 .sys_dbtc,.sys_dbgtab8 .sys_dbbl,.sys_dbgtab8 .sys_dbbc,.sys_dbgtab8 .sys_dbbr {height:20px;}
.sys_dbgtab8 .sys_dbtl {background-image: url(../../../../../SYSA/skin/default/images/dlg/rec1.png);}
.sys_dbgtab8 .sys_dbtc {background-image: url(../../../../../SYSA/skin/default/images/dlg/vertical.png);}
.sys_dbgtab8 .sys_dbtr {background-image: url(../../../../../SYSA/skin/default/images/dlg/rec1.png);background-position: -80px 0px;}
.sys_dbgtab8 .sys_dbcl {background-image: url(../../../../../SYSA/skin/default/images/dlg/horizontal.png);}
.sys_dbgtab8 .sys_dbcr {background-image: url(../../../../../SYSA/skin/default/images/dlg/horizontal.png);background-position: -80px 0px;}
.sys_dbgtab8 .sys_dbbl {background-image: url(../../../../../SYSA/skin/default/images/dlg/rec1.png);background-position: -0px -80px;}
.sys_dbgtab8 .sys_dbbc {background-image: url(../../../../../SYSA/skin/default/images/dlg/vertical.png);background-position: -0px -80px;}
.sys_dbgtab8 .sys_dbbr {background-image: url(../../../../../SYSA/skin/default/images/dlg/rec1.png);background-position: -80px -80px;}*/
.sys_dlg_propmDiv{border-radius:6px;overflow:hidden;box-shadow:0px 0px 20px rgba(0,0,0,0.2)}
.sys_dtit {border-collapse:collapse;table-layout:fixed;width:100%; -moz-user-select:none;}
* html .sys_dtit {border-collapse:collapse;table-layout:fixed;width:100%; position:relative;top:-4px;} /* IE6 */
*+html .sys_dtit {border-collapse:collapse;table-layout:fixed;width:100%; position:relative;top:-4px;} /* IE7 */

.sys_dtit_ico {width:23px}
.sys_dtit_ico img{height:15px;width:19px;}
.sys_dtit_txt span{font-weight:bold;font-size:12px;position:relative;top:-2px;font-family:宋体; color:#000; -moz-user-select:none;}
* html .sys_dtit_txt span{font-weight:bold;font-size:12px;font-family:宋体; position:relative;top:0px; color:#000; -moz-user-select:none;}  /* IE6 */
*+html .sys_dtit_txt span{font-weight:bold;font-size:12px;font-family:宋体; position:relative;top:0px; color:#000; -moz-user-select:none;}  /* IE7 */


.sys_dtit_bar {text-align:right;width:30px;}
.sys_dtit_bar img {height:18px;width:18px;cursor:pointer;}
a.sys_noticeMessage{
    text-decoration:none;
}
a.sys_noticeMessage:hover{
    text-decoration:underline;
}
/*end window dlg*/