<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
	  <add key="port" value="818"/>
	  <add key="baseserver" value="http://192.168.1.127:8080"/>
    <add key="smssn" value="f631737c91f47faa4efb1fe3b8ce3fea"/>
    <add key="ReLoadEmailTitle" value="服务重启信息"/>
    <add key="ReLoadEmailTos" value="1550535509@qq.com;1375102143@qq.com"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
	<add name="connstring" connectionString=""/>
  </connectionStrings>
</configuration>
