<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>软件管理</title>
  <style>
    *{margin: 0px;padding: 0px}
    body{
      background: url(../../../SYSA/skin/default/images/MoZihometop/mozilogin/bg1.png) repeat-x;
    }
    div.tips{
      width:600px ;
      height: 400px;
      line-height: 80px;
      text-align: center;
      position: absolute;
      top: 36%;
      left: 50%;
      margin-left: -300px;
      color: #fff;
      font-size: 36px;
    }
  </style>
</head>
<body>
  <div class="tips">
      <img src="../../skin/default/img/loading.png" width="57" alt="Alternate Text" /> <br />
    系统数据正在维护中，请稍后...
  </div>
</body>
</html>